<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>
        {% block title %}
        
        {% endblock %}
    </title>

    {% block head %}

    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}


    {% block body %}

    {% endblock %}


    {% include 'footer.html' %}

</body>
</html>
