<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff0000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {% for item in dados_senai %}   
                <img src="{{ item.logo.url }}" alt="Logo" class="logo">
            {% endfor %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if is_coordenacao %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'cadastro' %}">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'cad_ambiente' %}">Add Ambiente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'todas_reservas' %}"> Reservas SENAI</a>
                        </li>
                    {% endif %}
                    {% if is_coordenacao or is_professores %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'ambientes' %}">Ambientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'minhas_reservas' %}">Minhas reservas</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
