<nav class="navbar" style="color: #ff0000; background-color: #ff0000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {% for item in dados_senai %}   
                <img src="{{ item.logo.url }}" alt="Logo" class="logo">
            {% endfor %}
        </a>
        <li class="nav-item dropdown" style="color: white;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Telas Senai
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="ambientes">Ambientes</a></li>
                <li><a class="dropdown-item" href="cadastro">Cadastro</a></li>
                <li><a class="dropdown-item" href="/">Homepage</a></li>
                <li><a class="dropdown-item" href="reservas">Reservas</a></li>
            </ul>
        </li>
    </div>

</nav>