<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, #000000, #000000, #c70b0b); font-size: 18px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="max-width: 40%;">
            {% for item in dados_senai %}   
                <img src="{{ item.logo.url }}" alt="Logo" class="logo" style="width: 500px;">
            {% endfor %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if is_coordenacao %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastro' %}">CADASTRO</a>
                        </li>
                        <li class="separator"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cad_ambiente' %}">ADICIONAR NOVO AMBIENTE</a>
                        </li>
                        <li class="separator"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todas_reservas' %}">RESERVAS FEITAS</a>
                        </li>
                        <li class="separator"></li>
                    {% endif %}
                    {% if is_coordenacao or is_professores %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ambientes' %}">VISUALIZAR AMBIENTES</a>
                        </li>
                        <li class="separator"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'minhas_reservas' %}">MINHAS RESERVAS</a>
                        </li>
                        <li class="separator"></li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i> SAIR
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-nav .nav-link {
        position: relative;
        color: #fff;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        padding: 0 15px; /* Espaçamento horizontal dos links */
    }

    .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #fff;
        transition: width 0.3s ease-in-out;
    }

    .navbar-nav .nav-link:hover {
        color: #c70b0b; /* Altere a cor ao passar o mouse */
        transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%; /* Cria o sublinhado ao passar o mouse */
        left: 0;
        background: #c70b0b; /* Cor do sublinhado */
    }

    .separator {
        display: inline-block;
        border-left: 1px solid #fff;
        height: 30px; /* Ajuste a altura conforme necessário */
        align-self: center; /* Centraliza verticalmente */
        margin: 0 15px; /* Espaçamento horizontal */
    }
    
    /* responsividade */

    @media (max-width: 1800px) {
        .navbar-nav .nav-link {
            padding: 0 10px; /* Espaçamento horizontal dos links */
            font-size: 14px;
        }
    }

    @media (max-width: 1350px) {
        /* faça ir para um botao de menu */
        .navbar-nav .nav-link {
            padding: 0 10px; /* Espaçamento horizontal dos links */
            font-size: 16px;
        }
    }

    @media (max-width: 1200px) {
        .navbar-nav .nav-link {
            padding: 0 10px; /* Espaçamento horizontal dos links */
            font-size: 14px;
        }
    }
    
    @media (max-width: 992px) {
        .navbar-nav .nav-link {
            padding: 0 10px; /* Espaçamento horizontal dos links */
            font-size: 12px;
            margin-top: 10px;
        }

        .separator {
            display: none;
        }

        .logo{
            margin-bottom: 10px;
        }

        .navbar-nav .nav-link:hover::after {
            width: 0; /* Cria o sublinhado ao passar o mouse */
        }

        .navbar-nav .nav-link:hover {
            color: #fff; /* Altere a cor ao passar o mouse */
            transform: scale(1); /* Aumenta o tamanho ao passar o mouse */
        }

    }

    @media (max-width: 768px) {
        .navbar-nav .nav-link {
            padding: 0 10px; /* Espaçamento horizontal dos links */
        }
    }

    @media (max-width: 576px) {
        .navbar-nav .nav-link {
            padding: 0 5px; /* Espaçamento horizontal dos links */
        }
    }


    /* Logo */
    .logo {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 992px) {
        .logo {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .logo {
            max-width: 400px;
        }
    }

    @media (max-width: 576px) {
        .logo {
            max-width: 330px;
        }
    }


</style>
