{% extends 'index.html' %}

{% block title %}
    HOTEL - NOME
{% endblock %}

{% block head %}
    <style>
        /* Estilos personalizados para os inputs */
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            margin-bottom: 16px;
            border: 1px solid #7a7a7a;
            border-radius: 4px;
            box-sizing: border-box;
        }
        /* Estilos personalizados para o botão */
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            color: white;
        }
        /* Estilo para as labels */
        label {
            color: white;
            margin-bottom: 6px;
            display: block;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flex container pb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <div class="bg-dark p-3 rounded-3 mb-5">
                    <h2 class="text-center text-white">Login</h2>
                    <form action="login" method="post">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="id_user" class="text-white">Usuário:</label>
                            {{ form.user }}
                        </div>
                        <div class="mb-2">
                            <label for="id_senha">Senha:</label>
                            {{ form.password }} 
                        </div>
                        <button type="submit" class="bg-secondary">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}