{% extends 'index.html' %}
{% load static %}

{% block title %}
Ambientes Senai
{% endblock %}

{% block head %}
<style>
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 30px;
        gap: 30px;
    }

    .card {
        padding: 20px;
        width: 230px;
        border-radius: 20px;
        background: #fafafa;
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid rgb(128, 128, 128);
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card-title {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        margin: 15px 0 0 10px;
        text-align: center;
    }

    .card-image {
        width: 100%;
        background-color: #c9c9c9;
        border-radius: 30px;
        box-shadow: inset 8px 8px 10px rgb(178, 177, 177);
    }

    .card-body {
        color: rgb(31, 31, 31);
        font-size: 15px;
        text-align: center;
        padding: 10px;
        overflow-y: auto;
        max-height: 250px;
    }

    .parallax2 {
        background: url(../../static/img/engrenagens.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        display: flex;
        background-attachment: fixed;
        background-color: rgba(255, 0, 0, 0.121);
        background-blend-mode: color;
    }
</style>
{% endblock %}

{% block body %}

{% if messages %}
{% for mensagem in messages %}
<div class="m-0 alert alert-warning" role="alert">
    {{ mensagem }}
</div>
{% endfor %}
{% endif %}

<div class="parallax2">
    <div>
        <div class="" style="max-width: 250px; align-items: ;">
            <form method="GET" action="{% url 'ambientes' %}">
                <input type="text" name="search" placeholder="Buscar pelo nome da sala" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="card-container">
            {% for item in dados_ambiente %}
            <div class="card" id="sala">
                <h3 class="card-title">{{item.titulo}}</h3>
                <p class="card-body">Lotação: {{item.descricao}}</p>
                <p class="card-text">Sala: {{item.sala}}</p>
                <a type="button" href="reservas/{{item.id}}" class="btn btn-dark btn-lg">Reservar</a>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <form method="POST" action="{% url 'excluir_ambiente' item.id %}"
                        onsubmit="return confirm('Tem certeza que deseja excluir este ambiente?');">
                        {% csrf_token %}
                        <button type="submit" class="btn text-danger btn-lg">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
