{% extends 'index.html' %}

{% block title %}
    CADASTRO
{% endblock %}

{% block body %}

<style>
    .navbar {
        background-color: #d71921;
        padding: 1rem;
    }

    .navbar-brand svg {
        height: 50px;
    }

    .content {
        text-align: center;
        margin: 48px;
    }

    .form-container {
        background: #fff;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #000; 
    }

    .form-container .form-group {
        margin-bottom: 1rem;
        text-align: left; 
    }

    .form-container .form-control {
        width: 100%; 
        border: 1px solid #000; 
    }

    .form-container .form-control::placeholder {
        color: #aaa; 
    }

    .form-container .btn-primary {
        background-color: #000; 
        border: none;
        width: 100%;
    }

    .form-container .btn-primary:hover {
        background-color: #333; 
    }

    .form-container label {
        color: #000; 
    }

</style>

<div class="content">
    {% for item in dados_senai %}
        <h2 style="font-size: 40px; font-weight: 600;">{{ item.titulo }}</h2>
    {% endfor %}
    <div class="form-container mt-4 mb-4">
        <h3>Cadastro</h3>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_nome">Nome</label>
                {{ form.nome }}
            </div>
            <div class="form-group">
                <label for="id_sobrenome">Sobrenome</label>
                {{ form.sobrenome }}
            </div>
            <div class="form-group">
                <label for="id_username">Nome de Usuário</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_senha">Senha</label>
                {{ form.senha }}
            </div>
            <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary mt-3">Cadastre-se</button>
        </form>
    </div>
</div>

{% endblock %}
