{% extends 'index.html' %}

{% block title %}
    LOGIN
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                {% for item in dados_senai %}   
                    <h2 class="text-center text-black">{{item.titulo}}</h2>
                {% endfor %}
                <div class=" p-3 rounded-3 border border-2">
                    <h2 class="text-center text-black">Entrar</h2>
                    <form action="login" method="post">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="id_nome" class="text-black">Nome de Usuário:</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-2">
                            <label for="id_senha" class="text-black">Senha:</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="bg-black">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}