{% extends 'index.html' %}

{% block title %}
    Minhas Reservas
{% endblock %}

{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .content {
        min-height: 400px;
    }
    .reservation-header {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; /* Espaçamento entre os botões */
    }
    .button-container button {
        background-color: white;
        border: 1px solid;
        border-radius: 5px;
        padding: 0.5rem;
    }
    .button-container button.remove {
        background-color: red;
        color: white;
    }
    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .reservation-info {
        flex-grow: 1;
        text-align: left;
    }
    .no-reservations {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .parallaxRe {
        background: url(../../static/img/bg\ cad.jpg);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        display: flex;
        
    }
</style>
{% endblock %}
{% block body %}
<div class="parallaxRe">
<div class="container content">
    <h2 class="reservation-header">Minhas Reservas</h2>
    <div class="reservations-container mt-4 mb-4">
        {% if reservas %}
            {% if messages %}
            {% for mensagem in messages %}
            <div class="mt-2 alert alert-success" role="alert">
                {{ mensagem }}
            </div>
            {% endfor %}
            {% endif %}
            <ul class="list-group">
                {% for reserva in reservas %}
                    <li class="list-group-item">
                        <div class="reservation-info">
                            <strong>Data:</strong> {{ reserva.data }} <br>
                            <strong>Horário:</strong> {{ reserva.horario }} - {{ reserva.hora_final }} <br> 
                            <strong>Sala:</strong> {{ reserva.sala.titulo }} <br>
                            <strong>Responsável:</strong> {{ reserva.username }}
                        </div>
                        <div class="button-container">
                            {% if user.is_authenticated and is_coordenacao %}
                                <form method="POST" action="{% url 'excluir_reserva' reserva.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="remove">Remover</button>
                                </form>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-reservations">Você não possui reservas.</p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

