{% extends 'index.html' %}

{% block title %}
Cadastrar Ambiente
{% endblock %}

{% block head %}
<style>
    .navbar {
        background-color: #d71921;
        padding: 1rem;
    }

    .navbar-brand svg {
        height: 50px;
    }

    .content {
        text-align: center;
        margin: 48px;
        width: 100%;
    }

    .form-container {
        background: #fff;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #000;
    }

    .form-container .form-group {
        margin-bottom: 1rem;
        text-align: left;
    }

    .form-container .form-control {
        width: 100%;
        border: 1px solid #000;
    }

    .form-container .form-control::placeholder {
        color: #aaa;
    }

    .form-container .btn-primary {
        background-color: #000;
        border: none;
        width: 100%;
    }

    .form-container .btn-primary:hover {
        background-color: #333;
    }

    .form-container label {
        color: #000;
    }

    .parallaxAmb {
        background: url('../../static/img/bg%20cad.jpg') no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: rgba(255, 0, 0, 0.121);
        padding: 20px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block body %}
<div class="parallaxAmb">
    <div class="content">

        {% for mensagem in messages %}
        {% if "erro" in message.tags %}
        <div class="mt-2 alert alert-error" role="alert">
            {{ mensagem }}
        </div>
        {% endif %}
        {% endfor %}

        {% for mensagem in messages %}
        {% if "sucesso" in message.tags %}
        <div class="mt-2 alert alert-success" role="alert">
            {{ mensagem }}
        </div>
        {% endif %}
        {% endfor %}
        

        <div class="form-container mt-4 mb-4">
            <h3>Criar Ambiente</h3>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título</label>
                    {{ form.titulo }}
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    {{ form.descricao }}
                </div>
                <div class="form-group">
                    <label for="sala">Sala</label>
                    {{ form.sala }}
                </div>
                <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}