{% extends 'index.html' %}
{% load static %}

{% block title %}
RESERVAS
{% endblock %}

{% block head %}

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<style>

    .parallaxReserv {
        background: url('{% static "img/bg cad.jpg" %}') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
        text-align: center; /* Centraliza o texto */
    }

    .form-container {
        background: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 900px;
        text-align: center; /* Centraliza o conteúdo do formulário */
        margin: 0 auto; /* Centraliza horizontalmente na página */
    }

    .form-container .form-group {
        margin-bottom: 1rem;
        text-align: left;
    }

    .form-container .form-control {
        width: 100%;
        border: 1px solid #000;
    }

    .form-container .form-control::placeholder {
        color: #aaa;
    }

    .form-container .btn-primary {
        background-color: #000;
        border: none;
        width: 100%;
    }

    .form-container .btn-primary:hover {
        background-color: #333;
    }

    .form-container label {
        color: #000;
    }

    .flatpickr-calendar {
        max-width: 300px;
        margin: 0 auto;
        font-weight: 600;
    }

</style>
{% endblock %}


{% block body %}
<div class="parallaxReserv">
    <div>
        <h2 style="font-size: 40px; font-weight: 600; color: #000;">Reserva de Salas</h2>
        <div class="form-container mt-4 mb-4">
            <h3 style="color: #000;">{{ dados_ambiente.titulo }}</h3>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_data">Data</label>
                    {{ form.data }}
                </div>
                <div class="form-group">
                    <label for="id_horario">Horário</label>
                    {{ form.horario }}
                </div>
                <div class="form-group">
                    <label for="id_horarioFinal">Horario Final</label>
                    {{ form.hora_final }}
                </div>
                {% if messages %}
                {% for mensagem in messages %}
                <div class="mt-2 alert alert-warning" role="alert">
                    {{ mensagem }}
                </div>
                {% endfor %}
                {% endif %}
                <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary mt-3">Reservar</button>
            </form>
        </div>
    </div>
</div>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("[name='data']", {
            minDate: "today",
            inline: true,
            dateFormat: "Y-m-d"
        });
    });
</script>

{% endblock %}
