{% extends 'index.html' %}

{% block title %}
    CADASTRO
{% endblock %}

{% block body %}

<style>
    .navbar {
        background-color: #d71921;
        padding: 1rem;
    }

    .navbar-brand svg {
        height: 50px;
    }

    .content {
        text-align: center;
        margin: 48px;
    }

    .form-container {
        background: #fff;
        padding: 30px;
        border-radius: 20px; /* Borda arredondada */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #000; /* Borda preta */
    }

    .form-container .form-group {
        margin-bottom: 1rem;
        text-align: left; /* Alinhamento à esquerda */
    }

    .form-container .form-control {
        width: 100%; /* Tamanho máximo do input em 100% */
        border: 1px solid #000; /* Borda preta */
    }

    .form-container .form-control::placeholder {
        color: #aaa; /* Cor do placeholder */
    }

    .form-container .btn-primary {
        background-color: #000; /* Cor do botão */
        border: none;
        width: 100%;
    }

    .form-container .btn-primary:hover {
        background-color: #333; /* Cor do botão ao passar o mouse */
    }

    .form-container label {
        color: #000; /* Cor do texto do label */
    }

</style>

<div class="content">
    {% for item in dados_senai %}
    {% endfor %}

            {% csrf_token %}
{% endblock %}
