{% extends 'index.html' %}

{% block title %}
    RESERVAS
{% endblock %}

{% block body %}

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<style>
    .navbar {
        background-color: #d71921;
        padding: 1rem;
    }

    .navbar-brand svg {
        height: 50px;
    }

    .content {
        text-align: center;
        margin: 48px;
    }

    .form-container {
        background: #fff;
        padding: 30px;
        border-radius: 20px; /* Borda arredondada */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #000; /* Borda preta */
    }

    .form-container .form-group {
        margin-bottom: 1rem;
        text-align: left; /* Alinhamento à esquerda */
    }

    .form-container .form-control {
        width: 100%; /* Tamanho máximo do input em 100% */
        border: 1px solid #000; /* Borda preta */
    }

    .form-container .form-control::placeholder {
        color: #aaa; /* Cor do placeholder */
    }

    .form-container .btn-primary {
        background-color: #000; /* Cor do botão */
        border: none;
        width: 100%;
    }

    .form-container .btn-primary:hover {
        background-color: #333; /* Cor do botão ao passar o mouse */
    }

    .form-container label {
        color: #000; /* Cor do texto do label */
    }

    .flatpickr-calendar {
        max-width: 300px;
        margin: 0 auto;
    }
</style>

<div class="content">
    {% for item in dados_senai %}
        <h2 style="font-size: 40px; font-weight: 600;">{{ item.titulo }}</h2>
    {% endfor %}
    <div class="form-container mt-4 mb-4">
        <h3>Reservar</h3>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_data">Data</label>
                {{ form.data }}
            </div>
            <div class="form-group">
                <label for="id_horario">Horário</label>
                {{ form.horario }}
            </div>
            <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary mt-3">Reservar</button>
        </form>
    </div>
</div>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("[name='data']", {
            inline: true,
            dateFormat: "d-m-Y" // Formato da data
        });
    });
</script>

{% endblock %}
