*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.centralizar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 10px;
}

.footer{
    display: flex; 
    justify-content: center; 
    padding: 10px; 
    color: #fff; 
    background-color: #ff0000; 
    text-align: center;
    gap: 10px; 
}

.parallax{
    background: url(../../static/img/senai-homepage.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.containerCard {
    width: 20rem; 
    margin: 30px; 
    padding: 20px; 
    display: flex;
    justify-content: center; 
    justify-items: center; 
    color: #000000 ;
    background-color: #fffbfb;
    border: #a6a6a6 1px solid;
}

input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            margin-bottom: 16px;
            border: 1px solid #7a7a7a;
            border-radius: 4px;
            box-sizing: border-box;
        }
        /* Estilos personalizados para o botão */
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 15px;
            color: white;
        }
        /* Estilo para as labels */
        label {
            color: black;
            margin-bottom: 6px;
            display: block;
        }
.navbar-brand {
    font-size: 30px;
    color: white;
    font-weight: bold;
     letter-spacing: 5px;
}
.navbar-brand:hover {
    color: white;
}

.logo{
    width: 35%;
}

.navlogin{
    height: 560px;
    width: 530px;
}