@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #FFFFFF;
}

.centralizar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.footer{
    display: flex; 
    justify-content: center; 
    padding: 20px;
    color: #fff; 
    background-color: #ff0000; 
    text-align: center;
    gap: 10px;
}

.parallax{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
}

.parallax2{
    background: url(../../static/img/);
    filter: brightness(85%);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}


input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            margin-bottom: 16px;
            border: 1px solid #7a7a7a;
            border-radius: 4px;
            box-sizing: border-box;
        }
        /* Estilos personalizados para o botão */
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 15px;
            color: white;
        }
        /* Estilo para as labels */
        label {
            color: black;
            margin-bottom: 6px;
            display: block;
        }
.navbar-brand {
    font-size: 30px;
    color: white;
    font-weight: bold;
     letter-spacing: 5px;
}
.navbar-brand:hover {
    color: white;
}

.logo{
    width: 35%;
}

input-max

.navbar {
    background-color: #d71921;
    padding: 1rem;
}
.navbar-brand svg {
    height: 50px;
}
.content {
    text-align: center;
    margin-top: 30px;
}
.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #000000; /* Adicionado para borda */
    border-radius: 20px; /* Adicionado para borda arredondada */
}
.form-container .form-group {
    margin-bottom: 1rem;
    text-align: left; /* Adiciona alinhamento à esquerda */
}
.form-container .form-control::placeholder {
    color: #aaa; /* Altera a cor do placeholder */
}
.form-container .btn-primary {
    background-color: #000;
    border: none;
    width: 100%;
}
.form-container .btn-primary:hover {
    background-color: #333;
}
.form-container .form-text {
    text-align: right;
}

label{
    color: #000;
}

